# Data
data/
*.csv
*.xls
*.xlsx

# Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# MLflow
mlruns/
mlartifacts/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
models/*.pkl